absl-py==2.1.0
aiohappyeyeballs
aiosignal 
alabaster 
altair==5.5.0
arrow 
astroid 
asttokens 
astunparse==1.6.3
asyncssh 
atomicwrites==1.4.0
attrs 
autopep8 
babel
beautifulsoup4 
binaryornot 
black 
bleach 
blinker==1.9.0
Brotli 
cachetools==5.5.2
certifi 
cffi 
chardet==3.0.4
charset-normalizer 
click 
cloudpickle 
comm 
cookiecutter 
cryptography 
debugpy 
decorator 
deep-translator==1.11.4
defusedxml 
Deprecated 
diff-match-patch 
dill 
docstring-to-markdown
docutils 
executing
fastjsonschema 
flake8 
flatbuffers==25.2.10
frozenlist 
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
googletrans==4.0.0rc1
grpcio==1.71.0
h11==0.9.0
h2==3.2.0
h5py==3.13.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imagesize 
importlib_metadata 
inflection 
intervaltree 
ipykernel 
ipython 
isort 
jaraco.classes 
jedi 
jellyfish 
Jinja2
joblib==1.4.2
jsonschema 
jsonschema-specifications 
jupyter_client 
jupyter_core 
jupyterlab_pygments 
keras==3.9.0
keyring 
libclang==18.1.1
Markdown==3.7
markdown-it-py 
MarkupSafe 
matplotlib-inline 
mccabe 
mdurl 
mistune 
ml_dtypes==0.5.1
more-itertools 
multidict 
mypy-extensions 
namex==0.0.8
narwhals==1.31.0
nbclient
nbconvert 
nbformat 
nest-asyncio 
nltk==3.9.1
numpy==2.1.3
numpydoc 
opt_einsum==3.4.0
optree==0.14.1
packaging 
pandas==2.2.3
pandocfilters 
parso 
pathspec 
pexpect 
pickle-mixin==1.0.2
pickleshare 
pillow==11.1.0
pip==25.0.1
platformdirs 
pluggy 
ply 
prompt-toolkit 
propcache 
protobuf==5.29.3
psutil 
ptyprocess 
pure-eval 
pyarrow==19.0.1
pycodestyle 
pycparser 
pydeck==0.9.1
pydocstyle 
pyflakes 
PyGithub 
Pygments 
PyJWT 
pylint 
pylint-venv 
pyls-spyder==0.4.0
PyNaCl 
PyQt5==5.15.10
PyQt5_sip 
PyQtWebEngine==5.15.6
PySocks
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc 
python-lsp-server 
python-slugify
pytoolconfig 
pytz==2025.1
pyuca 
pywin32==308
pywin32-ctypes 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
RapidFuzz==3.12.2
referencing 
regex==2024.11.6
requests 
rfc3986==1.5.0
rich 
rope 
rpds-py 
Rtree 
setuptools==75.8.0
sip 
six 
smmap==5.0.2
sniffio==1.3.1
snowballstemmer 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
stack-data 
streamlit==1.43.2
superqt 
tabulate 
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==2.5.0
text-unidecode 
textdistance 
three-merge 
tinycss2 
toml==0.10.2
tomli 
tomlkit
tornado 
tqdm==4.67.1
traitlets 
typing_extensions 
tzdata==2025.1
ujson 
Unidecode 
urllib3 
watchdog 
wcwidth 
webencodings 
Werkzeug==3.1.3
whatthepatch 
wheel==0.45.1
win-inet-pton 
wrapt 
yapf 
yarl
zipp 



